.idea/vcs.xml
src/__pycache__/detect_and_recognize.cpython-38.pyc
src/__pycache__/detect_and_recognize.cpython-39.pyc
src/lp_detection/__pycache__/detect.cpython-38.pyc
src/lp_detection/__pycache__/detect.cpython-39.pyc
vietocr/__pycache__/__init__.cpython-38.pyc
vietocr/__pycache__/__init__.cpython-39.pyc
vietocr/model/__pycache__/__init__.cpython-38.pyc
vietocr/model/__pycache__/__init__.cpython-39.pyc
vietocr/model/__pycache__/beam.cpython-38.pyc
vietocr/model/__pycache__/beam.cpython-39.pyc
vietocr/model/__pycache__/transformerocr.cpython-38.pyc
vietocr/model/__pycache__/transformerocr.cpython-39.pyc
vietocr/model/__pycache__/vocab.cpython-38.pyc
vietocr/model/__pycache__/vocab.cpython-39.pyc
vietocr/model/backbone/__pycache__/__init__.cpython-38.pyc
vietocr/model/backbone/__pycache__/__init__.cpython-39.pyc
vietocr/model/backbone/__pycache__/cnn.cpython-38.pyc
vietocr/model/backbone/__pycache__/cnn.cpython-39.pyc
vietocr/model/backbone/__pycache__/resnet.cpython-38.pyc
vietocr/model/backbone/__pycache__/resnet.cpython-39.pyc
vietocr/model/backbone/__pycache__/vgg.cpython-38.pyc
vietocr/model/backbone/__pycache__/vgg.cpython-39.pyc
vietocr/model/seqmodel/__pycache__/__init__.cpython-38.pyc
vietocr/model/seqmodel/__pycache__/__init__.cpython-39.pyc
vietocr/model/seqmodel/__pycache__/convseq2seq.cpython-38.pyc
vietocr/model/seqmodel/__pycache__/convseq2seq.cpython-39.pyc
vietocr/model/seqmodel/__pycache__/seq2seq.cpython-38.pyc
vietocr/model/seqmodel/__pycache__/seq2seq.cpython-39.pyc
vietocr/model/seqmodel/__pycache__/transformer.cpython-38.pyc
vietocr/model/seqmodel/__pycache__/transformer.cpython-39.pyc
vietocr/tool/__pycache__/__init__.cpython-38.pyc
vietocr/tool/__pycache__/__init__.cpython-39.pyc
vietocr/tool/__pycache__/config.cpython-38.pyc
vietocr/tool/__pycache__/config.cpython-39.pyc
vietocr/tool/__pycache__/predictor.cpython-38.pyc
vietocr/tool/__pycache__/predictor.cpython-39.pyc
vietocr/tool/__pycache__/translate.cpython-38.pyc
vietocr/tool/__pycache__/translate.cpython-39.pyc
vietocr/tool/__pycache__/utils.cpython-38.pyc
vietocr/tool/__pycache__/utils.cpython-39.pyc
.idea/ALPR_Ver7.iml
.idea/misc.xml
